.centered {
  text-align: center;
}
.size {
  font-size: 30px
}
.box {
  margin: 10px;
  border: 2px solid blue;
  padding: 4px;
  background-color: lightblue;
}
.space {
  padding-top: 50px;
}

#trail1 {
  display: none;
}
#trail2 {
  display: none;
}
#path {
  display: none;
}
#formTwo {
  display: none;
}
