.centered {
  text-align: center;
}
.size {
  font-size: 30px
}
.box {
  margin: 10px;
  border: 2px solid blue;
  padding: 4px;
  background-color: lightblue;
}
#trail1 {
  display: none;
}

#hello {
  display: none;
}
